body,html {
  font-family: var(--main-font-family, 'sans-serif');
  font-variant: var(--main-font-variant, 'small-caps');
  background-color: var(--bg-prim-color, 'white');
  color: var(--main-font-color, 'black');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: var(--font-select-color);
}

*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h4 {
  font-family: var(--header-font-family, 'sans-serif');
  font-variant: var(--header-font-variant, 'small-caps');
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;
} 

h3 {
  font-family: var(--header-font-family, 'sans-serif');
  font-variant: var(--header-font-variant, 'small-caps');
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 0.6rem;
  padding-top: 1rem;
} 

h2 {
  font-family: var(--header-font-family, 'sans-serif');
  font-variant: var(--header-font-variant, 'small-caps');
  font-size: 2.2rem;
  padding-bottom: 0.8rem;
  padding-top: 1.2rem;
} 

h1 {
  font-family: var(--header-font-family, 'sans-serif');
  font-variant: var(--header-font-variant, 'small-caps');
  font-size: 3.2rem;
  padding-bottom: 0.8rem;
  padding-top: 1.2rem;
} 

ol {
  padding-left: 0.5rem;
  margin: 1rem;
}

ul {
  margin-left: 1rem;
  padding-left: 0.2rem;
}

input {
  background-color: var(--bg-prim-color);
  color: var(--main-font-color);
}


